h1{
    text-align: center;
}

div{
    text-align: center;
}

.zick{
    text-align: center;
}

.a{
    text-align: center;
    font-family: 'Overpass Mono', sans-serif;
}

.firma{
    padding-left: 400px;
}